{% extends "crisisdb-base.html" %}
{% load static %}
{% load humanize %}
{% load crisisdb_tags %}


{% block content %}
<div class="container">
    {% if agr_prod_pop_list %}
    <div class="row">
            <div class="col-md-8 mt-4">
                <h5 class="lead-2">List of all the data for: {{agr_prod_pop_list.0.section}}</h5>
                <h6><span class="display-6">Agricultural Production and Population </span></h6>
                <h6><span class="text-secondary">Section</span>: <mark>{{agr_prod_pop_list.0.section}}</mark> &nbsp; / &nbsp; <span class="text-secondary">Subsection</span>: <mark>{{agr_prod_pop_list.0.subsection}} </mark></h6>

            </div>
        <div class="col-md-4">      
          <a href="{% url 'Agr_Prod_Pop-create' %}" class="btn btn-outline-success mx-3 my-4 float-end"> Add another fact</a>
          <a href="{% url 'crisisdb-index' %}" class="btn btn-outline-primary ms-auto my-4 float-end"> Go back to home page</a>
        </div>
      </div>
      <hr>
    <div class="table-responsive">
        <table class="table align-middle table-striped">
            <thead>
              <tr>
                <th scope="col" class="text-secondary">#Row</th>
                <th scope="col">Polity</th>
                <th scope="col">Year (From)</th>
                <th scope="col">Year (To)</th>
                <!-- headings for extra vars -->
                {% block myheadings_list %}
                {% endblock myheadings_list %}

                <th scope="col">References</th>
                <th scope="col" style="text-align: center">Tag</th>
                <th scope="col" style="text-align: center">Verified</th>
                <th scope="col" style="text-align: center">Update?</th>
              </tr>
            </thead>
            <tbody>
                {% for agr in object_list %}
                    <tr>
                    <div>
                    <td class="text-secondary" style="text-align: center;" scope="row">{{ forloop.counter0|add:page_obj.start_index }}</td>
                    <td style="text-align: center;">{{ agr.polity.name }}</td>
                    <td style="text-align: center;">{{ agr.year_from }}</td>
                    <td style="text-align: center;">{{ agr.year_to }}</td>
                    <!-- extra vars come here -->
                    {% block extra_vars_list %}
                    {% endblock extra_vars_list %}
                    <td> {% autoescape off %}{{ agr.display_citations }}{% endautoescape %}</td>

                    <!-- Tag tag (Disputed/Suspected etc.) -->
                    {% if agr.tag == "DSP" %}
                        <td style="text-align: center;"><span class="badge rounded-pill bg-danger">{{ agr.get_tag_display }}</span></td>
                    {% elif  agr.tag == "SSP" %}
                        <td style="text-align: center;"> <span class="badge rounded-pill bg-warning text-dark">{{ agr.get_tag_display }}</span></td>
                    {% elif  agr.tag == "UNK" %}
                        <td style="text-align: center;"><span class="badge rounded-pill bg-secondary">{{ agr.get_tag_display }}</span></td>
                    {% elif  agr.tag == "IFR" %}
                        <td style="text-align: center;"><span class="badge rounded-pill bg-primary">{{ agr.get_tag_display }}</span></td>
                    {% else  %}
                        <td style="text-align: center;"><span class="badge rounded-pill bg-success">{{ agr.get_tag_display }}</span></td>
                    {% endif %}

                    <!-- Verified Tag -->
                    {% if agr.finalized %}
                        <td style="text-align: center; color:green;"><i class="fas fa-check"></i></td>
                    {% else %}
                        <td style="text-align: center; color:red;"><i class="fas fa-times-circle"></i></td>
                    {% endif %}


                    <td style="text-align: center;"><a href="{% url 'Agr_Prod_Pop-update' agr.id %}"><button class="btn btn-warning btn-sm">Update </button></a></td>

                </div>
                </tr>
                {% endfor %}
            </tbody>
          </table>
          {% if is_paginated %}
          <div class="pagination my-4 pe-4 float-end">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}"><button class="btn btn-primary btn-md"> <i class="fas fa-step-backward"></i> Prev </button></a>
                {% else %}
                <button class="btn btn-outline-primary btn-md" disabled> <i class="fas fa-step-backward"></i>  Prev</button>
                {% endif %}
                <span class="page-current">
                    &nbsp; Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}. &nbsp; 
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}"><button class="btn btn-primary btn-md"> Next <i class="fas fa-step-forward"></i></button></a>
                    {% else %}
                    <button class="btn btn-outline-primary btn-md" disabled> Next <i class="fas fa-step-forward"></i></button>
                {% endif %}
            </span>
            </div>
            
          {% endif %}
    {% else %}
        <p>There are no Facts in the Database.</p>
    {% endif %}
    </div>
  {% endblock %}