<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    <title>Local Library</title>
    {% endblock %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600;900&display=swap" rel="stylesheet"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'font_a/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa_full/css/all.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Be+Vietnam+Pro:wght@400;600;900&family=Lobster&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Mochiy+Pop+P+One&family=Neonderthaw&display=swap" rel="stylesheet">


</head>
<body>
    <section id="top-bar" class="p-3 backhoob" style="color:#fefae6;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <i class="fa fa-phone"></i> <span style="font-family: 'Lobster', serif; font-weight:400"> +43 677 62476191</span>
                </div>
                <div class="col-md-4 text-center">
                    <i class="fa fa-envelope-open"></i><span style="font-family: 'Lobster', serif; font-weight:400"> Benam.mjd@gmail.com</span>
                </div>
                <div class="col-md-4 text-end">
                    <a href = "#"> <i class="fab fa-twitter"> </i></a>
                    <a href = "#"> <i class="fab fa-facebook"> </i></a>
                    <a href = "#"> <i class="fab fa-linkedin"> </i></a>
                    <a href = "#"> <i class="fab fa-instagram"> </i></a>
                    <a href = "#"> <i class="fab fa-pinterest"> </i></a>

                </div>
            </div>
        </div>
    </section>
    <section id="top-bar2" class="mmajid sticky-top">
        <nav class="navbar navbar-expand-lg ">
            <div class="container ">
                <a class="navbar-brand mmmajid" href="{% url 'index' %}"> 
                    <h3><i class="fas fa-book-open"></i>  &nbsp;  <strong style="color:#000000; text-shadow: 0.25px 0.25px #235347;  font-family: 'Lobster', serif; font-weight:400;">Local Library </strong> </h3>
                </a>
                <button class="navbar-toggler navbar-toggler-right bg-dark navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav mmmajid">
                    <li class="nav-item">
                        <a class="nav-link mmmajid" href="{% url 'index' %}"><strong style="color:#000000; text-shadow: 0.25px 0.25px #235347;">Home</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mmmajid" href="{% url 'books' %}"><strong style="color:#000000; text-shadow: 0.25px 0.25px #235347;">Books</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mmmajid" href="{% url 'authors' %}"><strong style="color:#000000; text-shadow: 0.25px 0.25px #235347;">Authors</strong></a>
                    </li>
                    </ul>
                    <!-- <form class="d-flex">
                    <input class="form-control me-2" type="text" placeholder="Search">
                    <button class="btn btn-primary" type="button">Search</button>
                    </form> -->
                    {% if user.is_authenticated %}
                    <ul class="navbar-nav ms-auto">
                        <li class ="nav-item me-2">
                            <a class="nav-link mmmajid" href="">
                                <strong style="color:#000000; text-shadow: 0.25px 0.25px #235347;">
                                    <span>Logged in as: &nbsp; </span>
                                </strong>
                            </a>
                        </li>
                        <li class ="nav-item me-2">
                            <strong style="color:#000000; text-shadow: 0.25px 0.25px #235347;">
                                <a class="nav-link mmmajid" href="{% url 'my-borrowed' %}">
                                    <i class="fas fa-user-check" aria-hidden="true"></i>
                                    <span style="font-family: 'Lobster', serif; font-weight:400;">
                                        &nbsp; {{ user.get_username }}
                                    </span>
                                </a>
                            </strong>
                        </li>
                    </ul>
                    {% else %}
                    <ul class="navbar-nav ms-auto">
                        <li class ="nav-item me-3"><a class="nav-link  mmmajid" href="{% url 'login' %}"><i class="fa fa-user-plus" aria-hidden="true"></i> &nbsp; <strong style="color:#000000; text-shadow: 0.25px 0.25px #235347;"> Sign Up</strong></a>
                        </li>
                        <li class ="nav-item me-3"><a class="nav-link mmmajid" href="{% url 'login' %}"><i class="fas fa-sign-in-alt" aria-hidden="true"></i> &nbsp; <strong style="color:#000000; text-shadow: 0.25px 0.25px #235347;">Login</strong></a>
                        </li>
                    </ul>
                    {% endif %}

                </div>
      </nav>
    </section>
    <section id="showcase">
        {% block showcase %}

        {% endblock %}
    </section>

    <section id="main-content">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    {% block content-main %}
                    {% endblock %}
                </div>
                <div class="col-md-3">
                    {% block quote-main %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </section>
    <section id="side-bar" class="backhoob">
    <div class="container back-in">
         <div class="row">
            <div class="col-sm-12 center-block">
                <img src="{% static 'images/book_row_new.png' %}" alt="No row photo" style="height:85px;">
                <img src="{% static 'images/book_row_new.png' %}" alt="No row photo" style="height:85px;">
                <img src="{% static 'images/book_row_new.png' %}" alt="No row photo" style="height:85px;">
                <img src="{% static 'images/book_row_new.png' %}" alt="No row photo" style="height:85px;">
                <img src="{% static 'images/book_row_new.png' %}" alt="No row photo" style="height:85px;">
            </div>
        </div> 
        <div class="row">
            <div class="col-md-2">
            {% block sidebar %}
                <ul class="sidebar-nav">
                    <li><h5><a href="{% url 'index' %}"><i class="fa fa-home fa-1x"></i> <strong>&nbsp;Home</a></h5></strong></li>
                    <li><h5><a href="{% url 'books' %}"><i class="fa fa-book fa-1x"></i> <strong>&nbsp;All Books</a></h5></strong></li>
                    <li><h5><a href="{% url 'authors' %}"><i class="fa fa-address-book fa-1x"></i> <strong>&nbsp;All Authors</a></h5></strong></li>
                    <hr>
                    {% if user.is_authenticated %}
                        <li><h5>User: <strong >{{ user.get_username }} </strong></h5></li>
                        <li><strong><a href="{% url 'my-borrowed' %}">{{ user.get_username }}'s Borrowed Books</a></strong></li>
                        <li><strong><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></strong></li>
                    {% else %}
                        <li><strong><a href="{% url 'login' %}?next={{ request.path }}"> <i class="fas fa-sign-in-alt" aria-hidden="true"> &nbsp; </i>Login</a></strong></li>
                    {% endif %}
                    <hr>
                    <li><strong><a href="{% url 'all-borrowed' %}">All Borrowed Books</a></strong></li>
                </ul>
            {% endblock %}
            </div>
            <div class="col-md-8 main-view border">
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-md-2 ms-auto">
                {% block quote %}
                {% endblock %}
            </div>
        </div>
    </div>
    </section>
<hr>
    <footer id="main-footer" class="py-4 dijamm text-black text-center">
        Copyright ©
        <span class="year">2022</span> MJB
      </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
   
</body>
</html>


